.hidden {
  display: none;
}
.changeLocationContainer {
  display: flex;
  position: absolute;
  z-index: 3;
}

:global(.omrs-breakpoint-lt-tablet) .changeLocationContainer > div {
  padding: 0.0625rem;
}

:global(.omrs-breakpoint-gt-phone) .changeLocationContainer {
  padding: 0.125rem;
  max-width: 50%;
}
