@import "../../root.scss";

.logout {
  padding-right: 0rem;
  background-color: $brand-02;
  @extend .productiveHeading01;
  width: 16rem;
}

.logout:hover {
  background-color: $brand-01;
  width: 100%;
}
