@import "../root.scss";

.topNav {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  height: var(--omrs-topnav-height);
  width: 100vw;
  padding: 0 0.5rem;
  backdrop-filter: blur(24px);
  background-color: var(--omrs-color-ink-white);
}

.logo {
  width: 55%;
  text-align: right;
}

.navbar :global(.bx--header) {
  background-color: $brand-01;
  border-bottom: $brand-02;
}

.navbar :global(.bx--header__action:hover) {
  background-color: $brand-02;
}

.navbar :global(.bx--header-panel) {
  background-color: $brand-02;
}

.navbar :global(.bx--header__action--active) {
  background-color: $brand-02;
  border-right: $brand-02;
  border-bottom: $brand-02;
  border-left: $brand-02;
}
