.primaryNavContainer {
  position: fixed;
  top: 0;
  z-index: 3;
}

.topNav {
  display: flex;
  align-items: center;
  position: relative;
  top: 0;
  left: 0;
  height: var(--omrs-topnav-height);
  width: 100vw;
  padding: 0 0.5rem;
  backdrop-filter: blur(24px);
  background-color: var(--omrs-color-ink-white);
}

:global(.omrs-unstyled).userPopup {
  display: flex;
  align-items: center;
  color: var(--omrs-color-ink-medium-contrast);
}

.userMenu {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  width: 100%;
  right: 0;
  z-index: 2;
  pointer-events: none;
}

.userMenuCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--omrs-color-ink-lowest-contrast);
  border-radius: 0 0 0.25rem 0.25rem;
  background: var(--omrs-color-bg-high-contrast);
  border-top: none;
  pointer-events: all;
}

.hidden {
  display: none;
}

.logo {
  width: 55%;
  text-align: right;
}

.location {
  width: 45%;
  text-align: right;
  margin-right: 1rem;
  font-weight: bold;
}

.locSvg {
  height: 1.3rem;
  width: 1.5rem;
}
