@import "carbon-components/scss/globals/scss/typography.scss";

$ui-03: #e0e0e0;
$ui-04: #8d8d8d;
$ui-05: #161616;

.productiveHeading01 {
  @include carbon--type-style("productive-heading-01");
}

.productiveHeading02 {
  @include carbon--type-style("productive-heading-02");
}
