.topNav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--omrs-topnav-height);
  width: 100vw;
  padding: 0 0.5rem;
  box-shadow: inset 0px -2px 0px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(24px);
  background-color: var(--omrs-color-bg-medium-contrast);
}

:global(.omrs-unstyled).userPopup {
  display: flex;
  align-items: center;
  color: var(--omrs-color-ink-medium-contrast);
}

.userMenu {
  display: flex;
  position: absolute;
  justify-content: flex-end;
  width: 100%;
  right: 0;
  z-index: 1;
}

.userMenuCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--omrs-color-ink-lowest-contrast);
  border-radius: 0 0 0.25rem 0.25rem;
  background: var(--omrs-color-bg-high-contrast);
  border-top: none;
}

.hidden {
  display: none;
}
